/* general */

body {
   margin: 0px;
   font-family: sans-serif;
}

.row {
   display: flex;
   flex-direction: row;
}

/* components */

/* buttons */

.buttonContainer {
   padding: 10px;
   display: flex;
   width: fit-content;
   height: 25px;
   align-items: center;
   border-radius: 10px;
   justify-content: center;
   cursor: pointer;
   flex: none;
   font-size: 15px;
   height: 45px;
   text-align: justify;
}

.buttonprimary {
   background-color: gray;
}

.buttonsecondary {
   border: black 2px solid;
}

.buttontext {
   border: black 2px solid;
}

/* input */

.inputContainer {
   outline: none;
   padding: 10px;
   font-size: 15px;
   border-radius: 10px;
   border: 2px solid black;
}

/* checkbox */

.checkboxItemContainer {
   display: flex;
   flex-direction: row;
   padding: 10px;
   cursor: pointer;
   justify-content: center;
   align-items: center;
   justify-content: flex-start;
}

.checkbox {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 2px black solid;
   margin-right: 10px;
}

.checkedbox {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: black;
   margin-right: 10px;
   border: 2px black solid;
}

/* answer */

.answer {
   border-radius: 10px;
   padding: 10px;
   width: 400px;
   background-color: rgb(71, 71, 71);
   color: white;
}

/* response */

.response {
   background-color: rgb(71, 71, 71);
   color: white;
   padding: 10px;
   border-radius: 10px;
   width: fit-content;
}

.responseContainer {
   background-color: gray;
   padding: 10px;
   border-radius: 10px;
   width: fit-content;
}
